<!DOCTYPE html>
<html>
<head>
	<title>Databases</title>
	<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="../stylesheets/style.css">
		<link rel='stylesheet' href="../stylesheets/databases.css">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
		<style media="screen">
			.listA {
				height: 2800px;
				margin-top: 40px
			}

			.listA ul {
				height: 280px;
			}
		</style>
  </head>
</head>
<body>
	<nav id="menu" class="menu">
      <div id="titolo">
        <h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span></a></h1>
        <p id="intestazione">è Databases</p>

      </div>

			<ul>
				<li>
					<a href='node.html'>Node js</a>
				</li>
				<li>
					<a href='htmlcss.html'>HTML5 & CSS3</a>
				</li>
				<li>
					<a href='javascript.html'>Javascript Client</a>
				</li>
				<li>
					<a href='php.html'>PHP</a>
				</li>
				<li>
					<a href='tmplengine.html'>Templating Engine</a>
				</li>
				<li>
					<a href='databases.html' id="current">Databases</a>
				</li>
			</ul>
    </nav>

		<div id="buttonResponsive">
			<h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span></a></h1>
		  <button type="button" id="btnResp" onclick="responsivness()">
			<div></div>
			<div></div>
			<div></div>
		  </button>
		  <script>
			function responsivness() {
			  var menu = document.getElementById("menu");
			  if (menu.className === "menu") {
				  menu.className += " responsive";
			  } else {
				  menu.className = "menu";
			  }
			};
		  </script>
    </div>

		<div id="mainNin">
			<div class="listA">
				<h2>Fast Scroll</h2>
				<ul>

					<li>
						<a href="#Introduzione">- Introduzione</a>
					</li>
					<li>
						<a href="#struttura">- Linguaggi </a>
					</li>
					<li>
						<a href="#primProg">- MongoDB</a>
					</li>
					<li>
						<a href="#conclusione">- Conclusione</a>
					</li>
				</ul>
			</div>
			<div class="mainArt">


				<div class="pTitle" id="pTitle">
					<h2>Databases</h2>
				</div>
				<hr>

				<h2 class="indici" id="Introduzione">Introduzione</h2>
					<p>
						Il <b>database</b> (in italiano base di dati,abbreviato anche con la sigla
						DB) in informatica indica un insieme di dati, omogeneo per
						contenuti e per formato, memorizzati in un elaboratore elettronico
						e interrogabili grazie al terminale utilizzando le chiavi di accesso
						previste. Ad oggi i database vengono utilizzati ad esempio nella
						<b>memorizzazione dei dati degli utenti</b> (email,password,username).
					</p>
				<h2 class="indici" id="struttura">Linguaggi di programmazione</h2>
				<p>
					ci sono diversi tipi di linguaggi di programmazione
					che servono per utilizzare i database ad esempio:
					SQL: <b>MySQL</b>
					No SQL: <b>MongoDB</b>
				</p>
				<h2  class="indici" id="relazioni">MongoDB</h2>
				<p>
					è il più popolare <b>database NoSQL</b> e si
					allontana dalla struttura tradizionale basata su tabelle
					dei database relazionali in favore di documenti in
					stile JSON con schema dinamico, rendendo
					l'integrazione di dati di alcuni tipi di applicazioni più
					facile e veloce.
			</p>

			<h2 class="indici" id="primProg">Download</h2>
			<p>
				per scaricare <a href="https://www.mongodb.com/it">MongoDB</a> basta andare sul sito ufficiale
				e cliccare su download. Abbiamo installato MongoDB.
				vi consigliamo di guardare il video presente qui sotto che riteniamo
				essere estremamente valido ed efficace anche per la successiva
				configurazione di mongo
			</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/1uFY60CESlM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		<h2 class="indici" id="primProg">Conclusione</h2>
			<p>
				grazie per aver letto questa guida, speriamo tu abbia potuto apprendere qualcosa di nuovo.
			</p>
			<p>
				<span style="color:red;"><b>Bew</b></span><b>link</b>
			</p>
			</div>
		</div>
		<footer>
		  <p>© 2018 Bewlink Tutti i diritti riservati</p>
			<a href="https://twitter.com/terzi333" target="_blank" >
				<img src="../images/Twitter_Icon.png" id="tw">
			</a>
			<a href="https://www.instagram.com/_alleterzi_/" target="_blank" >
				<img src="../images/Insta_Icon.png">
			</a>
			<a href="https://github.com/aleTerzi/sitoTepsit" target="_blank" >
				<img src="../images/Git_Icon.png">
			</a>
			<a href="#pTitle" id="tornaSu">^</a>
		</footer>
</body>
</html>
