<!DOCTYPE html>
<html>
<head>
	<title>Databases</title>
	<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="../stylesheets/style.css">	
  </head>
</head>
<body>
	<nav>
      <div id="titolo">
        <h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span><a></h1>
        <p id="intestazione">databases</p>

          <script type="text/javascript">
            var intervalID = window.setInterval(myCallback, 2000);

            function myCallback() {
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è struttura";}, 1000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è relazioni";}, 3000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è legami";}, 3000);
            }

          </script>
      </div>

      <ul>
        <li>
          <a href='#'>Node js</a>
        </li>
        <li>
          <a href='#'>HTML5 & CSS3</a>
        </li>
        <li>
          <a href='#'>Javascript Client</a>
        </li>
        <li>
          <a href='#'>PHP</a>
        </li>
        <li>
          <a href='#'>Templating Engine</a>
        </li>
        <li>
          <a href='#'>Databases</a>
        </li>
      </ul>
    </nav>
</body>
</html>