<!DOCTYPE html>
<html>
<head>
	<title>Databases</title>
	<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="../stylesheets/style.css">
		<link rel='stylesheet' href="../stylesheets/databases.css">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  </head>
</head>
<body>
	<nav id="menu" class="menu">
      <div id="titolo">
        <h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span></a></h1>
        <p id="intestazione">è databases</p>

      </div>

			<ul>
				<li>
					<a href='node.html'>Node js</a>
				</li>
				<li>
					<a href='htmlcss.html'>HTML5 & CSS3</a>
				</li>
				<li>
					<a href='javascript.html'>Javascript Client</a>
				</li>
				<li>
					<a href='php.html'>PHP</a>
				</li>
				<li>
					<a href='tmplengine.html'>Templating Engine</a>
				</li>
				<li>
					<a href='databases.html' id="current">Databases</a>
				</li>
			</ul>
    </nav>

		<div id="buttonResponsive">
			<h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span></a></h1>
		  <button type="button" id="btnResp" onclick="responsivness()">
			<div></div>
			<div></div>
			<div></div>
		  </button>
		  <script>
			function responsivness() {
			  var menu = document.getElementById("menu");
			  if (menu.className === "menu") {
				  menu.className += " responsive";
			  } else {
				  menu.className = "menu";
			  }
			};
		  </script>
    </div>

		<div id="mainNin">

		<pre>
			<code>

	<span class="var">var</span> http = require('http');

	http.createServer(function(req, res) {
	  console.log("server started on port 8000");
	}).listen(8000);

			</code>
		</pre>

		</div>
		<footer>
		  <p>© 2018 Bewlink Tutti i diritti riservati</p>
			<a href="https://twitter.com/terzi333" target="_blank" >
				<img src="../images/Twitter_Icon.png" id="tw">
			</a>
			<a href="https://www.instagram.com/_alleterzi_/" target="_blank" >
				<img src="../images/Insta_Icon.png">
			</a>
			<a href="https://github.com/aleTerzi/sitoTepsit" target="_blank" >
				<img src="../images/Git_Icon.png">
			</a>
			<a href="#pTitle" id="tornaSu">^</a>
		</footer>
</body>
</html>
