<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="../stylesheets/style.css">
    <link rel='stylesheet' href="../stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Programming Websites</title>
  </head>
  <body>


    <nav>
      <div id="titolo">
        <h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span><a></h1>
        <p id="intestazione"></p>

          <script type="text/javascript">
            setTimeout(function(){$("#intestazione").fadeOut();}, 0000);
              setTimeout(function(){$("#intestazione").fadeIn();}, 500);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è...";}, 500);
              setTimeout(function(){$("#intestazione").fadeOut();}, 5000);
              setTimeout(function(){$("#intestazione").fadeIn();}, 6000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "creazione";}, 6000);
              setTimeout(function(){$("#intestazione").fadeOut();}, 8000);
              setTimeout(function(){$("#intestazione").fadeIn();}, 9000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "relazioni";}, 9000);
              setTimeout(function(){$("#intestazione").fadeOut();}, 11000);
              setTimeout(function(){$("#intestazione").fadeIn();}, 12000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "legami";}, 12000);
              setTimeout(function(){$("#intestazione").fadeOut();}, 14000);
              setTimeout(function(){$("#intestazione").fadeIn();}, 15000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è il web";}, 15000);
          </script>
      </div>

      <ul>
        <li>
          <a href='#'>Node js</a>
        </li>
        <li>
          <a href='#'>HTML5 & CSS3</a>
        </li>
        <li>
          <a href='#'>Javascript Client</a>
        </li>
        <li>
          <a href='#'>PHP</a>
        </li>
        <li>
          <a href='#'>Templating Engine</a>
        </li>
        <li>
          <a href='databases.html'>Databases</a>
        </li>
      </ul>
    </nav>
    <main>
      <img src="../images/bewlinkFin.png" id="logo">
    </main>
    <footer>
      <p>© 2018 Aramu&Terzi</p>
    </footer>

  </body>
</html>
