<!DOCTYPE html>
<html>
<head>
	<title>Databases</title>
	<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="../stylesheets/style.css">
		<link rel='stylesheet' href="../stylesheets/php.css">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  </head>
</head>
<body>
	<nav id="menu" class="menu">
      <div id="titolo">
        <h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span></a></h1>
        <p id="intestazione">e' Php</p>

          <script type="text/javascript">
            var intervalID = window.setInterval(myCallback, 2000);

            function myCallback() {
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è struttura";}, 1000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è relazioni";}, 3000);
              setTimeout(function(){document.getElementById("intestazione").innerHTML = "è legami";}, 3000);
            }

          </script>
      </div>

      <ul>
        <li>
          <a href='node.html'>Node js</a>
        </li>
        <li>
          <a href='htmlcss.html'>HTML5 & CSS3</a>
        </li>
        <li>
          <a href='javascript.html'>Javascript Client</a>
        </li>
        <li>
          <a href='php.html' id="current" >PHP</a>
        </li>
        <li>
          <a href='tmplengine.html'>Templating Engine</a>
        </li>
        <li>
          <a href='databases.html'>Databases</a>
        </li>
      </ul>
    </nav>

		<div id="buttonResponsive">
			<h1><a href="index.html" id="titolo"><span >Bew</span><span id="link">Link</span></a></h1>
		  <button type="button" id="btnResp" onclick="responsivness()">
		    <div></div>
		    <div></div>
		    <div></div>
		  </button>
		  <script>
		    function responsivness() {
		      var menu = document.getElementById("menu");
		      if (menu.className === "menu") {
		          menu.className += " responsive";
		      } else {
		          menu.className = "menu";
		      }
		    };
		  </script>
		</div>
		<div id="mainNin">
		<div class="listA">
			<h2>Fast Scroll</h2>
			<ul>

				<li>
					<a href="#Introduzione">- Introduzione</a>
				</li>
				<li>
					<a href="#struttura">- Struttura asincrona</a>
				</li>
				<li>
					<a href="#relazioni">- Relazioni</a>
				</li>
				<li>
					<a href="#installazione">- Installazione</a>
				</li>
				<li>
					<a href="#primApp">- Primo programma</a>
				</li>
				<li>
					<a href="#primProg">- PHP Post</a>
				</li>
				<li>
					<a href="#conclusione">- Conclusione</a>
				</li>
			</ul>
		</div>
		<div class="mainArt">

		<div class="pTitle" id="pTitle">
			<h2>PHP</h2>
			<img src="../articoli/php/immagini/logo.svg.png" title="php logo" id="logo">
		</div>
		<hr>

		<h2 class="indici" id="Introduzione">Introduzione</h2>
		<p>
			Php(Php Hypertext Processor) e’ un linguaggio di programmazione
			che si occupa principalmente dello sviluppo lato server,
			Php infatti serve per elaborare dati compiere calcoli ecc, e vive dentro ad un server.
			Php nasce nel 1994 da Rasmus Lerdorf
		</p>
		<h2 class="indici" id="struttura">Struttura sincrona</h2>
		<p>
			A differenza di node, Php ha qualche hanno ormai,
			ma nonostante questo Php e’ ancora uno dei linguaggi <b>piu’ usati</b>  nel web,
			ed il piu’ utilizzato  fra i linguaggi lato server. Php nonstante non sia
			cosi’ veloce come node, e’ un linguaggio molto solido e rodato capace di elaborare
			una grande quantita’ di informazioni a differenza di node
			Php esegue le istruzioni una per volta, rendendo il processo di elaborazione
			piuttosto lungo
		</p>
		<h2  class="indici" id="relazioni">Relazioni</h2>
		<p>
			PHP essendo soprattutto usato per lo sviluppo lato server si relazione o comunque
			viene usato insieme ad <b>HTML</b> e <b>CSS</b>, oltre ai linguaggi SQL
			per interpretare i databases
		</p>
		<h2 class="indici" id="installazione">Xampp</h2>
		<p>
			Php necessita di lavorare su un server per questo molti in fase di sviluppo
			usano xampp, una piattaforma che permette di usufruire di un server e di varie
			altre tecnologie, tra cui Phpmyadmin che permette di usare i database.
			Ecco un video molto completo che mostra  passo per passo come installare Xampp
		</p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/f25c92-wj4c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<p>
			questa qua sotto e' l'immagine del pannello di controllo di xampp che ci servira
			successivamente per fare partire il nostro server locale
		</p>
		<img src="../articoli/php/immagini/xamppCp.png" alt="node version test" title="node -v">
			<h2  class="indici" id="primApp">Primo programma</h2>
		<p>
			dopo aver correttamente configurato xampp, potremo creare il nostro primo fil
			e con estensione php
			questo codice e’ un esempio di primo programma dove daremo in output la frase
			 “Hello world!”
		</p>
		<pre>
			<code>
<span class="rosso">&lt?php&gt</span>
   <span class="blu">echo</span> <span class="verde">"Hello World!"</span>;
<span class="rosso">?></span>
			</code>
		</pre>
		<p>
			tutti i nostri programmi in php andranno inseriti fra questa sintassi
			<b><?php programma ?></b>
			dopo aver salvato il file nella cartella <b>htdocs</b>,
			ed aver fatto partire il server Apache, dal pannello di controllo di xampp,
			digitate nell’url di un qualsiasi browser <b>localhost/nomefile.php</b>, dovreste
			vedere scritto a schermo proprio Hello world!
		</p>
		<h2 class="indici" id="primProg">PHP Post</h2>
		<p>
			dopo aver creato il nostro primo programma possiamo veramente fare
			moltissime cose con Php, e qui di seguito vi mostrero’ una procedura
			per ricevere informazioni tramite HTML per poi elaborarle.
			Il codice qui sotto riceve dal un form HTML il nome di una persona, e
			quello stesso nome verra dato in output grazie a PHP
		</p>
			<p><b>file PHP (esempio.php)</b></p>
		<pre>
			<code>
<span class="rosso">&lt?php&gt</span>
  <span class="rosso">$nome</span> = <span class="rosso">$_POST</span>[<span class="verde">'name'</span>];
  <span class="blu">echo</span> <span class="rosso">$nome</span>;
<span class="rosso">?></span>
			</code>
		</pre>

		<p><b>file HTML</b></p>
		<pre>
			<code>
&lt<span class="rosso">form</span> <span class="giallo">action</span>="esempio.php" <span class="giallo">method</span>="post">
&lt<span class="rosso">label</span> <span class="giallo">for</span>="name">Nome&lt/<span class="rosso">label</span>>
&lt<span class="rosso">input</span> <span class="giallo">type</span>="text" <span class="giallo">name</span>="name">
&lt<span class="rosso">br</span>>
&lt<span class="rosso">input</span> <span class="giallo">type</span>="submit" <span class="giallo">value</span>="invia">
&lt/<span class="rosso">form</span>>
			</code>
		</pre>
		<p>
			per fare cio' e' importante che nell'attributo <b>'action'</b> del form inseriate il nome
			del vostro file php collegato, nel mio caso e' appunto esempio.php
		</p>
	<h2 class="indici" id="conclusione">Conclusione</h2>
		<p>
			Per questo articolo di PHP e' tutto, spero vi abbia fatto imparare qualcosa di piu'
			su questo linguaggio di programmazione che nonostante gli anni, si continua a rivelare
			solido e molto affidabile
		</p>
		<p>
			<span style="color:red;"><b>Bew</b></span><b>link</b>
		</p>
		</div>
	</div>
	<footer>
		<p>© 2018 Bewlink Tutti i diritti riservati</p>
		<a href="https://twitter.com/terzi333" target="_blank" >
			<img src="../images/Twitter_Icon.png" id="tw">
		</a>
		<a href="https://www.instagram.com/_alleterzi_/" target="_blank" >
			<img src="../images/Insta_Icon.png">
		</a>
		<a href="https://github.com/aleTerzi/sitoTepsit" target="_blank" >
			<img src="../images/Git_Icon.png">
		</a>
		<a href="#pTitle" id="tornaSu">^</a>
	</footer>
</body>
</html>
