@import url('https://fonts.googleapis.com/css?family=Inconsolata');


pre {
  padding: 8px 10px;
  margin: 50px 0;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-font-smoothing: inherit;
  overflow: auto;
  background-color: #303544;
  color: #fff;
}

code {
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  color: #666;
  margin: 0;
  border-radius: 3px;
  background-clip: padding-box;
  color: #fff;
}

#mainNin {
  max-width: 1300px;
  width: 80%;
  margin: auto;
  	margin-top:100px;
}

.var {
  color: #d30ac8;
  font-weight: bold;
}
