
#logo{
	width: 300px;
	display: block;
    margin: 0 auto;
}
#mainin {

	width: 70%;
	margin:auto;
	margin-top:100px;
}

#mainin h3 {
	font-size: 27px;
	font-weight: lighter;
}

#mainin h3, #mainin p {
	text-align: center;
}

.description {
	margin-top: 20px;
}

.description p {
	font-size: 20px;
	margin:0px;
	padding: 0px;
	font-family: calibri;
	font-weight: lighter;
}

/*slideshow-container */
* {box-sizing:border-box}

/* Slideshow container */
.slide {
  max-width: 1500px;
  position: relative;
  margin: auto;
	z-index: 1;
}

/*END SLIDER*/
.tabella {
	background: transparent;
}

#puntiForza {

	max-width: 1400px;
	width:100%;
	margin: auto;
	overflow-x:auto;
}

#puntiForza td {
	text-align: center;

}

#puntiForza img {
	overflow-wrap: break-word;
	width: 60%;
	margin: auto;
	margin-top: 50px;
}

#puntiForza td {
	margin-top:0px;
	font-weight: lighter;
	font-size: 19px;
}

#puntiForza hr{
	background-color: #db0404;
	border: 1px solid #db0404;
	width: 52%;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

#puntiForza td:hover  hr {
	width: 65%;

}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #puntiForza td{
			display: block;
			width: 100%;
      vertical-align: middle;
    }

}
