@import url('https://fonts.googleapis.com/css?family=Exo+2|Titillium+Web');
body {
  //font-family: 'Exo 2', sans-serif;
  font-family: calibri;
  margin: 0;
}

#titolo {
  position: absolute;
  float:left;
  margin-left: 15px;
  margin-bottom: 50px;
  height: 30px;
  width: 300px;
}

h1 {
  float: left;
  margin-top:10px;
  font-size: 35px;
}
#titolo {
  color: #000;
  text-decoration: none;
}
#link {
  color:red;
}

#intestazione{
  color: #494b4f;
  font-weight: lighter;
  font-size: 20px;
  margin-left: 150px;
  margin-top:22px;
  text-decoration: none;
}

nav {
  //overflow: hidden;
  background-color: #242729;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

nav ul li a { /*link's style*/
  float: right;
  display: block;
  background-color: #242729;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-right:10px;
  width: 135px;
  line-height: 60px;
  font-size: 17px;
  font-weight: bold;
}

nav ul li a {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

nav ul li a:hover {
  background-color: #db0404;
}

footer {
  position:fixed;
  clear: left;
  bottom:8px;
  left:20px;
}

main {
  margin-top: 100px;
  overflow: hidden;
}

.myslides {
  width: 100%;
}